APP_ENVIRONMENT="development"

JWT_SECRET_KEY="your_secret_key_here"

DATABASE_URL="postgresql://user:password@localhost:5432/database_name"

# 指定创建的 OSS 提供商，默认使用 "r2"，另外支持 "aliyun"
OSS_PLATFORM="r2"

R2_ACCESS_KEY_ID="xxx"
R2_SECRET_ACCESS_KEY="yyy"
R2_BUCKET_NAME="zzz"
R2_ACCOUNT_ID="www"
R2_REGION="uuu"
R2_CUSTOM_DOMAIN="vvv"
